@model RosterCheck_ASPNET.Models.GuildModel

@if (Model != null)
{
<table>

    @*table column names*@
    <tr>
        <th>
            Name
        </th>
        <th>
            Realm
        </th>
        <th>
            Class
        </th>
        <th>
            Race
        </th>
        <th>
            Spec
        </th>
        <th>
            Role
        </th>
        <th>
            Guild rank
        </th>
    </tr>

    @foreach (var member in Model.Members.OrderBy(x => x.Rank))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => member.Character.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => member.Character.Realm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => member.Character.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => member.Character.RaceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => member.Character.Spec.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => member.Character.Spec.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => member.RankName)
            </td>
        </tr>
    }
</table>
}