@model RosterCheck_ASPNET.Models.GuildModel

@{
    ViewBag.Title = "Roster";
}

<h2>Roster</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    <fieldset>
        <legend>Search for a guild</legend>
        <div class="editor-label">@Html.LabelFor(model => Model.Name)</div>
        <div class="editor-field">@Html.EditorFor(model => Model.Name)</div>

        <div class="editor-label">@Html.LabelFor(model => Model.Realm)</div>
        <div class="editor-field">@Html.EditorFor(model => Model.Realm)</div>
        <input type="submit" style="width: 240px" value="Search">
        @*<input type="button" style="width: 240px" onclick="location.href='@Url.Action("ImportGuild", "GuildModels")'" value="IMPORT GUILD">*@
    </fieldset>
}

@Html.Partial("CachedGuildModels")